{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col-12 col-sm-6">
               <h3 class="page-title">Atendimento</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'list_booking' %}">Reservas</a></li>
                  <li class="breadcrumb-item active">Cadastro</li>
               </ul>
            </div>
            <!-- Error and success messages -->
            <!-- {% if messages %}
            <div class="col-12  col-sm-6">
               <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                  <span>{{ message }}</span><br>
                  {% endfor %}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               {% endif %}
            </div> -->
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="POST" action="{% url 'add_booking' %}" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="row">

                        <!-- SECTION -->
                        <div class="col-12">
                           <h5 class="form-title"><span>Indentificação da Reserva</span></h5>
                        </div>

                        <!-- BOOKING CODE -->
                        <div class="col-xl-3 col-sm-6">
                           <div class="form-group">
                              <label for="booking_code">Código da Reserva</label>
                              <input id="booking_code" type="text" class="form-control" name="booking_code" placeholder="WTE9999999999" required>
                           </div>
                        </div>

                        <!-- BOKKING STATUS -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="booking_status">Status</label>
                              <select id="booking_status" class="form-control" name="booking_status" required>
                                 {% for value, label in status_options %}
                                 <option value="{{ value }}" {% if value == status_selected %}selected{% endif %}>
                                    {{ label }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <!-- SECTION -->
                        <div class="col-12">
                           <h5 class="form-title"><span>Indentificação do Cliente</span></h5>
                        </div>

                        <!-- BOOKING CLIENT NAME -->
                        <div class="col-xl-6 col-sm-6">
                           <div class="form-group">
                              <label for="booking_client_name">Nome do Cliente</label>
                              <input id="booking_client_name" type="text" class="form-control" name="booking_client_name" placeholder="Nome do cliente" required>
                           </div>
                        </div>

                        <!-- BOOKING CLIENT NIF -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="booking_client_nif">NIF do Cliente</label>
                              <input id="booking_client_nif" type="text" class="form-control" name="booking_client_nif" placeholder="999999999">
                           </div>
                        </div>

                        <!-- BOOKING CLIENT EMAIL -->
                        <div class="col-xl-6 col-sm-6">
                           <div class="form-group">
                              <label for="booking_client_email">Email Cliente</label>
                              <input id="booking_client_email" type="email" class="form-control" name="booking_client_email" placeholder="cliente@email.com">
                           </div>
                        </div>

                        <!-- BOOKING CLIENT MOBILE PHONE NUMBER -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="booking_client_phone">Contacto Cliente</label>
                              <input id="booking_client_phone" type="tel" class="form-control" name="booking_client_phone" placeholder="+999 999 999 999">
                           </div>
                        </div>
                        
                        <!-- SECTION -->
                        <div class="col-12">
                           <h5 class="form-title"><span>Informações Experiência</span></h5>
                        </div>

                        <!-- BOOKING EXPERIENCE -->
                        <div class="col-xl-8 col-sm-6">
                           <div class="form-group">
                              <label for="booking_experience">Experiência</label>
                              <select id="booking_experience" class="form-control" name="booking_experience" required>
                                 {% for e in experience_list %}
                                 <option value="{{ e.id }}" {% if e == experience_selected %}selected{% endif %}>
                                    {{ e }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <!-- BOOKING PARTNER -->
                        <div class="col-xl-6 col-sm-6">
                           <div class="form-group">
                              <label for="booking_partner">Parceiro</label>
                              <select id="booking_partner" class="form-control" name="booking_partner" required>
                                 {% for p in partner_list %}
                                 <option value="{{ p.id }}" {% if p == partner_selected %}selected{% endif %}>
                                    {{ p }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <!-- BOOKING EXPERIENCE DATE -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="booking_experience_date">Data Experiência</label>
                              <input id="booking_experience_date" type="datetime-local" class="form-control" name="booking_experience_date" required>
                           </div>
                        </div>                   

                        <!-- SECTION -->
                        <div class="col-12">
                           <h5 class="form-title"><span>Membros e Preços</span></h5>
                        </div>

                        <!-- BOOKING NUMBER OF ADULTS -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="booking_number_adults">Nº Adultos</label>
                              <input id="booking_number_adults" type="number" min="1" class="form-control" name="booking_number_adults" value="1" required>
                           </div>
                        </div>
                        
                        <!-- BOOKING PRICE FOR ADULTS -->
                        <div class="col-xl-3 col-sm-6">
                           <div class="form-group">
                              <label for="booking_price_adults">Preço Adulto</label>
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <span class="btn btn-secondary"> € </span>
                                    <!-- <div class="dropdown-menu">
                                       <a class="dropdown-item">€</a>
                                       <a class="dropdown-item">$</a>
                                       <a class="dropdown-item">R$</a>
                                    </div> -->
                                 </div>
                                 <input id="booking_price_adults" type="number" step="0.01" min="1.00" class="form-control" value="1" name="booking_price_adults" required>
                              </div>
                           </div>
                        </div>

                        <div class="col-12 mt-3"></div>
                        <!-- BOOKING NUMBER OF CHILDREN -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="booking_number_children">Nº Crianças</label>
                              <input id="booking_number_children" type="number" class="form-control" value="0" name="booking_number_children">
                           </div>
                        </div>

                        <!-- BOOKING PRICE FOR CHILDREN -->
                        <div class="col-xl-3 col-sm-6">
                           <div class="form-group">
                              <label for="booking_price_children">Preço Crianças</label>
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <span class="btn btn-secondary"> € </span>
                                 </div>
                                 <input id="booking_price_children" type="number" step="0.01" min="0.00" class="form-control" value="0" name="booking_price_children">
                              </div>
                           </div>
                        </div>

                        <div class="col-12 mt-3"></div>
                        <!-- BOOKING DISCOUNT -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="booking_discount">Desconto</label>
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <span class="btn btn-secondary"> € </span>
                                 </div>
                                 <input id="booking_discount" type="number" step="0.01" min="0.00" class="form-control" value="0" name="booking_discount">
                              </div>
                           </div>
                        </div>

                        <!-- BOOKING TOTAL -->
                        <div class="col-xl-3 col-sm-6">
                           <div class="form-group">
                              <label for="booking_total">Total</label>
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <span class="btn btn-secondary"> € </span>
                                 </div>
                              
                                 <input id="booking_total" type="number" step="0.01" min="1.00" class="form-control" name="booking_total" value="1" required readonly>

                                 <!-- Botão com ícone de calculadora -->
                                 <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="calculateTotal()" title="Calcular Total">
                                       <i class="fas fa-calculator"></i>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>                     
                              
                        <div class="col-12 mt-3">
                           <h5 class="form-title"><span>Outras Informações</span></h5>
                        </div>
                        <div class="col-xl-4 col-sm-3">
                           <div class="form-group">
                              <label for="booking_channel">Canal</label>
                              <select id="booking_channel" class="form-control" name="booking_channel" required>
                                 {% for value, label in channel_options %}
                                 <option value="{{ value }}" {% if value == channel_selected %}selected{% endif %}>
                                    {{ label }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <div class="col-12">
                           <h5 class="form-title"><span></span></h5>
                        </div>
                        <div class="col-xl-2 col-sm-2">
                           <button type="submit" class="btn btn-primary w-75">Salvar</button>
                        </div>
                        <div class="col-xl-2 col-sm-2">
                           <button onclick="history.back()" class="btn btn-secondary w-75">Voltar</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <footer style="text-align: center;">
      <p>Copyright © 2025 - Wine Tour Experience.</p>
   </footer>
</div>
</div>

<!-- jQuery (obrigatório) -->
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- DataTables JS -->
<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{%static 'assets/js/script.js' %}"></script>

<script type="text/javascript">
   document.addEventListener("DOMContentLoaded", function () {
      const experienceDateInput = document.getElementById("booking_experience_date");

      if (experienceDateInput) {
         const now = new Date();
         now.setSeconds(0, 0); // zera segundos e milissegundos

         const year = now.getFullYear();
         const month = String(now.getMonth() + 1).padStart(2, '0');
         const day = String(now.getDate()).padStart(2, '0');
         const hours = String(now.getHours()).padStart(2, '0');
         const minutes = String(now.getMinutes()).padStart(2, '0');

         const minDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
         experienceDateInput.min = minDateTime;
      }
   });


   function go_to_list_view() {
      document.location.href = "{% url 'list_experience' %}"
   }

   function calculateTotal() {
      const numAdults = parseFloat(document.getElementById('booking_number_adults').value) || 0;
      const priceAdult = parseFloat(document.getElementById('booking_price_adults').value) || 0;
      const numChildren = parseFloat(document.getElementById('booking_number_children').value) || 0;
      const priceChild = parseFloat(document.getElementById('booking_price_children').value) || 0;
      const discount = parseFloat(document.getElementById('booking_discount').value) || 0;
      
      const subtotal = (numAdults * priceAdult) + (numChildren * priceChild);
      const total = subtotal - discount;
      
      console.log(total.toFixed(2));
      document.getElementById('booking_total').value = total.toFixed(2);
  }
</script>


{% endblock %}