{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col-12 col-sm-6">
               <h3 class="page-title">Serviços</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'list_experience' %}">Parceiro</a></li>
                  <li class="breadcrumb-item active">Cadastro</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="POST" action="{% url 'add_partner' %}" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="row">

                        <!-- SECTION -->
                        <div class="col-12 mt-3">
                           <h5 class="form-title"><span>Informações Gerais</span></h5>
                        </div>

                        <!-- PARTNER NAME -->
                        <div class="col-xl-8 col-sm-6">
                           <div class="form-group">
                              <label for="partner_name">Nome</label>
                              <input id="partner_name" type="text" class="form-control" name="partner_name" placeholder="Nome do parceiro"
                                 value="{{ partner.name|default_if_none:'' }}" required>
                           </div>
                        </div>

                        <!-- PARTNER STATUS -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="partner_status">Situação</label>
                              <select id="partner_status" class="form-control" name="partner_status" required>
                                 {% for value, label in status_options %}
                                 <option value="{{ value }}" {% if value == status_selected %}selected{% endif %}>
                                    {{ label }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <!-- SECTION -->
                        <div class="col-12 mt-3">
                           <h5 class="form-title"><span>Informações Contacto</span></h5>
                        </div>

                        <!-- PARTNER EMAIL -->
                        <div class="col-xl-6 col-sm-6">
                           <div class="form-group">
                              <label for="partner_contact_email">Email</label>
                              <div>
                                 <input id="partner_contact_email" type="text" class="form-control" name="partner_contact_email"
                                    placeholder="contacto@parceiro.com"
                                    value="{{ partner.contact_email|default_if_none:'' }}" required>
                              </div>
                           </div>
                        </div>

                        <!-- PARTNER CONTACT FIXO -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="partner_contact_phone1">Contacto Fixo</label>
                              <div>
                                 <input id="partner_contact_phone1" type="text" class="form-control" name="partner_contact_phone1"
                                    placeholder="+999 999 999 999"
                                    value="{{ partner.contact_phone1|default_if_none:'' }}" required>
                              </div>
                           </div>
                        </div>

                        <!-- PARTNER CONTACT FIXO -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="partner_contact_phone2">Contacto Móvel</label>
                              <div>
                                 <input id="partner_contact_phone2" type="text" class="form-control" name="partner_contact_phone2"
                                    placeholder="+999 999 999 999"
                                    value="{{ partner.contact_phone2|default_if_none:'' }}" >
                              </div>
                           </div>
                        </div>

                        <!-- PARTNER WEBSITE -->
                        <div class="col-xl-10 col-sm-6">
                           <div class="form-group">
                              <label for="partner_website">Website</label>
                              <div>
                                 <input id="partner_website" type="text" class="form-control" name="partner_website"
                                    placeholder="www.partner.com" value="{{ partner.website|default_if_none:'' }}">
                              </div>
                           </div>
                        </div>
                        
                        <div class="col-12 mt-3">
                           <h5 class="form-title"><span>Outras Informações</span></h5>
                        </div>

                        <!-- PARTNER ADDRESS -->
                        <div class="col-xl-8 col-sm-6">
                           <div class="form-group">
                              <label for="partner_address">Morada</label>
                              <div>
                                 <input id="partner_address" type="text" class="form-control" name="partner_address"
                                    placeholder="Avenida X, Loja Y, 9999-999 Vila Z"
                                    value="{{ partner.address|default_if_none:'' }}" required>
                              </div>
                           </div>
                        </div>
                        
                        <!-- CONTROL BUTTONS -->
                        <div class="col-12">
                           <h5 class="form-title"><span></span></h5>
                        </div>
                        <div class="col-xl-2 col-sm-2">
                           <button type="submit" class="btn btn-primary w-75">Salvar</button>
                        </div>
                        <div class="col-xl-2 col-sm-2">
                           <button onclick="history.back()" class="btn btn-secondary w-75">Voltar</button>
                        </div>

                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <footer style="text-align: center;">
      <p>Copyright © 2025 - Wine Tour Experience.</p>
   </footer>
</div>

<!-- jQuery (obrigatório) -->
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- DataTables JS -->
<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{%static 'assets/js/script.js' %}"></script>

<script type="text/javascript">
   function go_to_list_view() {
      document.location.href = "{% url 'list_partner' %}"
   }
</script>

{% endblock %}