{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col-12 col-sm-6">
               <h3 class="page-title">Serviços</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'list_experience' %}">Experiências</a></li>
                  <li class="breadcrumb-item active">Edição</li>
               </ul>
            </div>
            <!-- Error and success messages -->
            <!-- {% if messages %}
            <div class="col-12  col-sm-6">
               <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                  <span>{{ message }}</span><br>
                  {% endfor %}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               {% endif %}
            </div> -->
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="POST" action="{% url 'edit_experience' experience.id %}" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="row">

                        <!-- SECTION -->
                        <div class="col-12">
                           <h5 class="form-title"><span>Informações Gerais</span></h5>
                        </div>

                        <!-- EXPERIENCE TITLE -->
                        <div class="col-xl-10 col-sm-6">
                           <div class="form-group">
                              <label for="experience_title">Título</label>
                              <input id="experience_title" type="text" class="form-control" name="experience_title" placeholder="Título da experiência"
                                 value="{{ experience.title|default_if_none:'' }}" required>
                           </div>
                        </div>


                        <!-- EXPERIENCE CATEGORY -->
                        <div class="col-xl-4 col-sm-6">
                           <div class="form-group">
                              <label for="experience_category">Categoria</label>                            
                              <select id="experience_category" class="form-control" name="experience_category" required>
                                 {% for value, label in category_options %}
                                 <p>{{value}} {{category_selected}}</p>
                                 <option value="{{ value }}" {% if value|stringformat:"s" == category_selected|stringformat:"s" %}selected{% endif %}>
                                    {{ label }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <!-- EXPERIENCE CATEGORY -->
                        <div class="col-xl-3 col-sm-6">
                           <div class="form-group">
                              <label for="experience_status">Situação</label>
                              <select id="experience_status" class="form-control" name="experience_status" required>
                                 {% for value, label in status_options %}
                                 <option value="{{ value }}" {% if value == status_selected %}selected{% endif %}>
                                    {{ label }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <div class="col-12">
                           <h5 class="form-title"><span>Referência Web</span></h5>
                        </div>

                        <!-- EXPERIENCE WORDPRESS ULR -->
                        <div class="col-xl-10 col-sm-6">
                           <div class="form-group">
                              <label for="experience_wordpress_url">Wordpress</label>
                              <div>
                                 <input id="experience_wordpress_url" type="text" class="form-control" name="experience_wordpress_url"
                                    placeholder="Endereço da página Wordpress"
                                    value="{{ experience.wordpress_url|default_if_none:'' }}" required>
                              </div>
                           </div>
                        </div>
                        <!-- <div class="col-12 col-sm-3">
                           <div class="form-group">
                              <label>Latitude</label>
                              <input type="number" class="form-control" name="latitude"
                                 value="{{ experience.latitude|default_if_none:'' }}" placeholder="+00.000000000"
                                 required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>URL Maps</label>
                              <div>
                                 <input type="text" class="form-control" name="maps_url"
                                    value="{{ experience.maps_url|default_if_none:'' }}"
                                    placeholder="https://maps.app.goo.gl/" required>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-3">
                           <div class="form-group">
                              <label>Logitude</label>
                              <input type="number" class="form-control" name="longitude"
                                 value="{{ experience.longitude|default_if_none:'' }}" placeholder="+000.000000000"
                                 required>
                           </div>
                        </div> -->
                        <div class="col-12">
                           <h5 class="form-title"><span>Outras Informações</span></h5>
                        </div>

                        <!-- EXPERIENCE NOTES -->
                        <div class="col-xl-8 col-sm-6">
                           <div class="form-group">
                              <label for="experience_notes">Anotações</label>
                              <textarea id="experience_notes" class="form-control" name="experience_notes" placeholder="Observações sobre a experiência"
                                 rows="5">{{ experience.notes|default_if_none:'' }}</textarea>
                           </div>
                        </div>

                        <!-- CONTROL BUTTONS -->
                        <div class="col-12">
                           <h5 class="form-title"><span></span></h5>
                        </div>
                        <div class="col-xl-2 col-sm-2">
                           <button type="submit" class="btn btn-primary w-75">Salvar</button>
                        </div>
                        <div class="col-xl-2 col-sm-2">
                           <button onclick="history.back()" class="btn btn-secondary w-75">Voltar</button>
                        </div>
                       
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <footer style="text-align: center;">
      <p>Copyright © 2025 - Wine Tour Experience.</p>
   </footer>
</div>
</div>

<!-- jQuery (obrigatório) -->
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- DataTables JS -->
<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{%static 'assets/js/script.js' %}"></script>
<!-- 
<script type="text/javascript">
   function go_to_list_view() {
      document.location.href = "{% url 'list_experience' %}"
   }
</script> -->

{% endblock %}