{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col-12 col-sm-6">
               <h3 class="page-title">Serviços</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'list_experience' %}">Experiências</a></li>
                  <li class="breadcrumb-item active">Visualização</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <div class="row">
                     
                     <!-- SECTION -->
                     <div class="col-12 mt-3">
                        <h5 class="form-title"><span>Informações Gerais</span></h5>
                     </div>

                     <!-- EXPERIENCE TITLE -->
                     <div class="col-xl-12 col-sm-6">
                        <span>
                           <strong>Título:</strong>
                           {{ experience.title }}
                        </span>
                     </div>

                     <!-- EXPERIENCE CATEGORY -->
                     <div class="col-xl-6 col-sm-6 mt-3">
                        <span>
                           <strong>Categoria:</strong>
                           {{ experience.category }}
                        </span>
                     </div>

                     <!-- EXPERIENCE CATEGORY -->
                     <div class="col-xl-6 col-sm-6 mt-4">
                        <span>
                           <strong>Situação:</strong>
                           <span
                              style="background-color: {{ experience.status_color }}; padding: 0px 0px; border-radius: 5px; font-weight: bold;">
                              {{ experience.status }}
                           </span>
                        </span>
                     </div>

                     <div class="col-12 mt-3">
                        <h5 class="form-title"><span>Referência Web</span></h5>
                     </div>

                     <!-- EXPERIENCE WORDPRESS ULR -->
                     <div class="col-xl-10 col-sm-6">
                        <span>
                           <strong>Wordpress:</strong>
                           <a href="{{ experience.wordpress_url|default_if_none:'' }}">{{ experience.wordpress_url|default_if_none:'' }}</a>
                        </span>
                     </div>

                     <div class="col-xl-12 mt-4">
                        <h5 class="form-title"><span>Outras Informações</span></h5>
                     </div>

                     <!-- EXPERIENCE NOTES -->
                     <div class="col-xl-8 col-sm-6 mb-5">
                        <span>
                           <strong>Anotações:</strong>
                           {{ experience.notes|default_if_none:'' }}
                        </span>
                     </div>

                     <div class="col-xl-12 col-sm-12">
                        <p>
                           <strong>Data de Cadastro:</strong> {{ experience.created_at_str }}
                        </p>
                     </div>

                     <div class="col-xl-12 col-sm-12">
                        <p><strong>Data de Atualização:</strong> {{ experience.updated_at_str }}
                        </p>
                     </div>

                     <!-- CONTROL BUTTONS -->
                     <div class="col-12 mt-5">
                        <h5 class="form-title"><span></span></h5>
                     </div>
                     <div class="col-xl-2 col-sm-2">
                        <a href="{% url 'edit_experience' id=experience.id %}" class="btn btn-primary w-75">Editar</a>
                     </div>
                     <div class="col-xl-2 col-sm-2">
                        <button onclick="history.back()" class="btn btn-secondary w-75">Voltar</button>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- jQuery (obrigatório) -->
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- DataTables JS -->
<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{%static 'assets/js/script.js' %}"></script>

{% endblock %}