{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Welcome {{user.username}}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                        <li class="breadcrumb-item active">Geral</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-nine w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-bell"></i>
                            </div>
                            <div class="db-info">
                                <h3>07/10</h3>
                                <h6>Reservas Confirmadas</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-six w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-file-alt"></i>
                            </div>
                            <div class="db-info">
                                <h3>04/05</h3>
                                <h6>Comprovativos</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-ten w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-vector-square"></i>
                            </div>
                            <div class="db-info">
                                <h3>03/05</h3>
                                <h6>eTickets</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-eleven w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-clipboard-list"></i>
                            </div>
                            <div class="db-info">
                                <h3>07/08</h3>
                                <h6>Faturas Pendentes</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reservas Pendentes -->
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Atendimentos Recentes</h5>
                            </div>
                            <div class="col-6">
                                <span class="float-right view-link"><a href="#">Ver Todas Reservas</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="dash-circle">
                        <div class="row">
                            <div class="col-12 col-lg-5 col-xl-4 dash-widget3">
                                <div class="card-body dash-widget1">
                                    <div class="circle-bar circle-bar2">
                                        <div class="circle-graph2" data-percent="60">
                                            <b>60%</b>
                                        </div>
                                        <h6>Aguardando eTicket</h6>
                                    </div>
                                    <div class="dash-details">
                                        <h4>Maria Silva</h4>
                                        <ul>
                                            <li><i class="fas fa-calendar-day"></i> 22/06/2025 </li>
                                            <li><i class="fas fa-clock"></i> 3.30pm </li><br>
                                            <li><i class="fas fa-book-open"></i> Cruzeiro Porto - Pinhão</li>
                                            <li><i class="fas fa-clipboard-check"></i> 5 Pessoas</li>
                                        </ul>
                                        <div class="dash-btn">
                                            <button type="submit" class="btn btn-info btn-border">Cancelar</button>
                                            <button type="submit" class="btn btn-info">Detalhes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 col-xl-4 dash-widget4">
                                <div class="card-body dash-widget1 dash-widget2">
                                    <div class="circle-bar circle-bar3">
                                        <div class="circle-graph3" data-percent="10">
                                            <b>10%</b>
                                        </div>
                                        <h6>Não Reservado</h6>
                                    </div>
                                    <div class="dash-details">
                                        <h4>Ricardo Vasques</h4>
                                        <ul>
                                            <li><i class="fas fa-calendar-day"></i> 02/07/2025 </li>
                                            <li><i class="fas fa-clock"></i> 09.30am </li><br>
                                            <li><i class="fas fa-book-open"></i> Cruzeiro Porto - Régua</li>
                                            <li><i class="fas fa-clipboard-check"></i> 2 Pessoas</li>
                                        </ul>
                                        <div class="dash-btn">
                                            <button type="submit" class="btn btn-info btn-border">Cancelar</button>
                                            <button type="submit" class="btn btn-info">Detalhes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 col-xl-4 dash-widget4">
                                <div class="card-body dash-widget1 dash-widget2">
                                    <div class="circle-bar circle-bar3">
                                        <div class="circle-graph3" data-percent="50">
                                            <b>50%</b>
                                        </div>
                                        <h6>Parceiro Cancelou</h6>
                                    </div>
                                    <div class="dash-details">
                                        <h4>Santiago Lima </h4>
                                        <ul>
                                            <li><i class="fas fa-calendar-day"></i> 16/07/2025 </li>
                                            <li><i class="fas fa-clock"></i> 11.45am </li><br>
                                            <li><i class="fas fa-book-open"></i> Cruzeiro Régua - Pocinha</li>
                                            <li><i class="fas fa-clipboard-check"></i> 1 Pessoas</li>
                                        </ul>
                                        <div class="dash-btn">
                                            <button type="submit" class="btn btn-info btn-border">Cancelar</button>
                                            <button type="submit" class="btn btn-info">Detalhes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-8 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <h5 class="card-title">Contabilidade</h5>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-inline-group text-right mb-0 pl-0">
                                            <li class="list-inline-item">
                                                <div class="form-group mb-0 amount-spent-select">
                                                    <select class="form-control form-control-sm">
                                                        <option>Hoje</option>
                                                        <option>Semana</option>
                                                        <option>Mês</option>
                                                        <option>Trimestre</option>
                                                        <option>Semestre</option>
                                                        <option>Ano</option>
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="apexcharts-area"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-4 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <h5 class="card-title">Lembretes Pagamentos</h5>
                            </div>
                            <div class="card-body">
                                <div class="teaching-card">
                                    <ul class="activity-feed">
                                        <li class="feed-item">
                                            <div class="feed-date1">Jun 08, 9 am - $ 175.00</div>
                                            <span class="feed-text1"><a>Barca Douro</a></span>
                                            <p><span>Pendente</span></p>
                                        </li>
                                        <li class="feed-item">
                                            <div class="feed-date1">Jul 04, 2 pm - $ 375.00</div>
                                            <span class="feed-text1"><a>Rota do Douro</a></span>
                                            <p>Pago</p>
                                        </li>
                                        <li class="feed-item">
                                            <div class="feed-date1">Ago 02, 1 pm - $ 75.00</div>
                                            <span class="feed-text1"><a>Tomaz do Douro</a></span>
                                            <p><span>Em Atraso</span></p>
                                        </li>
                                        <li class="feed-item">
                                            <div class="feed-date1">Jul 13, 10 am - $ 415.00</div>
                                            <span class="feed-text1"><a>Rota do Douro</a></span>
                                            <p>Pago</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <p>Copyright © 2025 Wine Tour Experience.</p>
    </footer>

</div>

</div>


<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>

<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{%static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{%static 'assets/plugins/apexchart/chart-data.js' %}"></script>

<script src="{%static 'assets/plugins/simple-calendar/jquery.simple-calendar.js' %}"></script>
<script src="{%static 'assets/js/calander.js' %}"></script>

<script src="{%static 'assets/js/circle-progress.min.js' %}"></script>

<script src="{%static 'assets/js/script.js' %}"></script>
</body>

<!-- Mirrored from preschool.dreamguystech.com/html-template/student-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:11:43 GMT -->

</html>

{% endblock %}