{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col-12 col-sm-6">
               <h3 class="page-title">Financeiro</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'list_partner_invoice' %}">Faturas (Parceiro)</a></li>
                  <li class="breadcrumb-item active">Editar Fatura</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="POST" action="{% url 'edit_partner_invoice' invoice.id %}"
                     enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="row">
                        
                        <!-- SECTION -->
                        <div class="col-12 mt-3">
                           <h5 class="form-title"><span>Dados da Fatura</span></h5>
                        </div>
                        
                        <!-- CUSTOMER INVOICE CODE -->
                        <div class="col-xl-4 col-sm-6">
                           <div class="form-group">
                              <label for="invoice_code">Código</label>
                              <input id="invoice_code" type="text" class="form-control" name="invoice_code" value="{{ invoice.code }}" placeholder="WTE9999999999" required>
                           </div>
                        </div>

                        <!-- CUSTOMER INVOICE EMISSION DATE -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="invoice_emission_date">Data Emissão</label>
                              <input id="invoice_emission_date" type="datetime-local" class="form-control" name="invoice_emission_date" value="{{ invoice.emission_date|date:'Y-m-d\\TH:i' }}" required>
                           </div>
                        </div>

                        <!-- CUSTOMER INVOICE PAYMENT DATE -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="invoice_payment_date">Data de Vencimento</label>
                              <input id="invoice_payment_date" type="datetime-local" class="form-control" name="invoice_payment_date" value="{{ invoice.payment_date|date:'Y-m-d\\TH:i' }}" required>
                           </div>
                        </div>

                        <!-- CUSTOMER INVOICE FILE LINK -->
                        <div class="col-xl-8 col-sm-6">
                           <div class="form-group">
                              <label for="invoice_file_link">Link do Arquivo</label>
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <span class="btn btn-secondary" type="button"><i class="fas fa-link"></i> </span>
                                 </div>
                                 <input type="text" class="form-control" name="invoice_file_link" value="{{ invoice.file_link }}" placeholder="https://localhost:8080/fatura.pdf">
                              </div>
                           </div>
                        </div>

                        <div class="col-12 mt-3">
                           <h5 class="form-title"><span>Dados do Pagamento</span></h5>
                        </div>
                        
                        <!-- CUSTOMER INVOICE PAYMENT METHOD -->
                        <div class="col-xl-3 col-sm-63">
                           <div class="form-group">
                              <label for="invoice_payment_method">Método de Pagamento</label>
                              <select id="invoice_payment_method" class="form-control" name="invoice_payment_method" required>
                                 {% for value, label in payment_method_options %}
                                 <option value="{{ value }}" {% if value == payment_method_selected %}selected{% endif %}>
                                    {{ label }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <!-- CUSTOMER INVOICE STATUS -->
                        <div class="col-xl-3 col-sm-6">
                           <div class="form-group">
                              <label for="invoice_status">Situação</label>
                              <select id="invoice_status" class="form-control" name="invoice_status" required>
                                 {% for value, label in status_options %}
                                 <option value="{{ value }}" {% if value == status_selected %}selected{% endif %}>
                                    {{ label }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <!-- CUSTOMER INVOICE PAID DATE -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="invoice_paid_date">Data de Pagamento</label>
                              <input id="invoice_paid_date" type="datetime-local" class="form-control" name="invoice_paid_date" value="{{ invoice.paid_date|date:'Y-m-d\\TH:i'|default_if_none:'' }}">
                           </div>
                        </div>

                        <div class="col-xl-4 col-sm-3"></div>

                        <!-- CUSTOMER INVOICE SERVICE VALUE -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="invoice_service_value">Valor Serviço</label>
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <span class="btn btn-secondary" type="button"><i class="fa-solid fa-euro-sign"></i> </span>
                                 </div>
                                 <input id="invoice_service_value" type="number" step="0.01" min="1.00" class="form-control" value="{{ invoice.service_value_str }}" name="invoice_service_value" required>
                              </div>
                           </div>
                        </div>

                        <!-- CUSTOMER INVOICE TAXES VALUE -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="invoice_taxes_value">Valor Impostos</label>
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <span class="btn btn-secondary" type="button"><i class="fa-solid fa-euro-sign"></i> </span>
                                 </div>
                                 <input id="invoice_taxes_value" type="number" step="0.01" min="0.00" class="form-control" value="{{ invoice.taxes_value_str }}" name="invoice_taxes_value" required>
                              </div>
                           </div>
                        </div>

                        
                        <!-- CUSTOMER INVOICE SERVICE VALUE -->
                        <div class="col-xl-2 col-sm-6">
                           <div class="form-group">
                              <label for="invoice_discount_value">Valor Desconto</label>
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <span class="btn btn-secondary" type="button"><i class="fa-solid fa-euro-sign"></i> </span>
                                 </div>
                                 <input id="invoice_discount_value" type="number" step="0.01" min="0.00" class="form-control" value="{{ invoice.discount_value_str }}" name="invoice_discount_value" required>
                              </div>
                           </div>
                        </div>

                        <!-- CUSTOMER INVOICE TOTAL VALUE -->
                        <div class="col-xl-2 col-sm-3">
                           <div class="form-group">
                              <label for="invoice_total_amount">Valor Total</label>
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <span class="btn btn-secondary" type="button"><i class="fa-solid fa-euro-sign"></i> </span>
                                 </div>
                                 <input id="invoice_total_amount" type="number" step="0.01" min="1.00" class="form-control" value="{{ invoice.total_amount_str }}" name="invoice_total_amount" required>
                                 <!-- Botão com ícone de calculadora -->
                                 <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="calculate_invoice_total()" title="Calcular Total">
                                       <i class="fas fa-calculator"></i>
                                    </button>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="col-12">
                           <h5 class="form-title"><span>Dados da Reserva</span></h5>
                        </div>
                        <div class="col-12 col-sm-9">
                           <div class="form-group">
                              <label>Reserva</label>
                              <select class="form-control" name="invoice_booking" required>
                                 {% for b in booking_list %}
                                 <option value="{{ b.id }}" {% if b == booking_selected %}selected{% endif %}>
                                    {{ b }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>
                        
                        <!-- CONTROL BUTTONS -->
                        <div class="col-12">
                           <h5 class="form-title"><span></span></h5>
                        </div>
                        <div class="col-xl-2 col-sm-2">
                           <button type="submit" class="btn btn-primary w-75">Salvar</button>
                        </div>
                        <div class="col-xl-2 col-sm-2">
                           <button onclick="history.back()" class="btn btn-secondary w-75">Voltar</button>
                        </div>

                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <footer style="text-align: center;">
      <p>Copyright © 2025 - Wine Tour Experience.</p>
   </footer>
</div>

<!-- jQuery (obrigatório) -->
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- DataTables JS -->
<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{%static 'assets/js/script.js' %}"></script>
<script src="{%static 'assets/js/financeUtils.js' %}"></script>

{% endblock %}