{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col-12 col-sm-6">
               <h3 class="page-title">Financeiro</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'list_customer_invoice' %}">Fatura (Cliente)</a></li>
                  <li class="breadcrumb-item active">Editar Fatura</li>
               </ul>
            </div>
            <!-- Error and success messages -->
            <!-- {% if messages %}
            <div class="col-12  col-sm-6">
               <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                  <span>{{ message }}</span><br>
                  {% endfor %}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               {% endif %}
            </div> -->
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="POST" action="{% url 'edit_customer_invoice' customer_invoice.id %}"
                     enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Dados da Fatura</span></h5>
                        </div>
                        <div class="col-12 col-sm-5">
                           <div class="form-group">
                              <label>Código</label>
                              <input type="text" class="form-control" name="customer_invoice_code" value="{{ customer_invoice.code }}" placeholder="WTE0000000000" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-3">
                           <div class="form-group">
                              <label>Data Emissão</label>
                              <input type="datetime-local" class="form-control" name="customer_invoice_emission_date" value="{{ customer_invoice.emission_date|date:'Y-m-d\\TH:i' }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-3">
                           <div class="form-group">
                              <label>Valor Total</label>
                              <div class="input-group">
                                 <div class="input-group-prepend">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                       €
                                    </button>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item">€</a>
                                       <a class="dropdown-item">$</a>
                                       <a class="dropdown-item">R$</a>
                                    </div>
                                 </div>
                                 <input id="customer_invoice_total_amount" type="number" step="0.01" min="1.00" class="form-control" value="{{ customer_invoice.total_amount_str }}" name="customer_invoice_total_amount" required>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-9">
                           <div class="form-group">
                              <label>Link do Arquivo</label>
                              <input type="text" class="form-control" name="customer_invoice_file_link" value="{{ customer_invoice.file_link }}" placeholder="URL do arquivo">
                           </div>
                        </div>

                        <div class="col-12">
                           <h5 class="form-title"><span>Dados do Pagamento</span></h5>
                        </div>
                        <div class="col-12 col-sm-3">
                           <div class="form-group">
                              <label>Data de Vencimento</label>
                              <input type="datetime-local" class="form-control" name="customer_invoice_payment_date" value="{{ customer_invoice.payment_date|date:'Y-m-d\\TH:i' }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-3">
                           <div class="form-group">
                              <label>Data de Pagamento</label>
                              <input type="datetime-local" class="form-control" name="customer_invoice_paid_date" value="{{ customer_invoice.paid_date|date:'Y-m-d\\TH:i'|default_if_none:'' }}">
                           </div>
                        </div>
                        <div class="col-12 col-sm-3">
                           <div class="form-group">
                              <label>Método de Pagamento</label>
                              <select class="form-control" name="customer_invoice_payment_method" required>
                                 {% for value, label in payment_method_options %}
                                 <option value="{{ value }}" {% if value == payment_method_selected %}selected{% endif %}>
                                    {{ label }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>
                        <div class="col-12 col-sm-2">
                           <div class="form-group">
                              <label>Status</label>
                              <select class="form-control" name="customer_invoice_status" required>
                                 {% for value, label in status_options %}
                                 <option value="{{ value }}" {% if value == status_selected %}selected{% endif %}>
                                    {{ label }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <div class="col-12">
                           <h5 class="form-title"><span>Dados da Reserva</span></h5>
                        </div>
                        <div class="col-12 col-sm-9">
                           <div class="form-group">
                              <label>Reserva</label>
                              <select class="form-control" name="customer_invoice_booking" required>
                                 {% for b in booking_list %}
                                 <option value="{{ b.id }}" {% if b == booking_selected %}selected{% endif %}>
                                    {{ b }}
                                 </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>
                        
                        <div class="col-12">
                           <h5 class="form-title"><span></span></h5>
                        </div>
                        <div class="col-12">
                        </div>
                        <div class="col-sm-9">
                           <button type="submit" class="btn btn-primary">Salvar</button>
                           <button onclick="go_to_list_view()" class="btn btn-secondary">Voltar</button>
                        </div>
                        <div class="col-sm-3">
                           <strong>Cadastrado em:</strong>
                           <span class="text-muted">{{ customer_invoice.created_at|default_if_none:'' }}</span><br>
                           <strong>Atualizado em:</strong>
                           <span class="text-muted">{{ customer_invoice.modified_at|default_if_none:''}}</span>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <footer style="text-align: center;">
      <p>Copyright © 2025 - Wine Tour Experience.</p>
   </footer>
</div>
</div>


<!-- jQuery (obrigatório) -->
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- DataTables JS -->
<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{%static 'assets/js/script.js' %}"></script>

<script type="text/javascript">
   function go_to_list_view() {
      document.location.href = "{% url 'list_customer_invoice' %}"
   }
</script>

{% endblock %}